<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout/layout::layout(~{::title}, ~{::#main}, ~{::#jquery})}">

<head>
    <meta charset="UTF-8">
    <title>Danh sách tài khoản</title>
    <style>
        .hidden {
            display: none;
        }

        .disabled {
            pointer-events: none;
            /* Ngăn chặn sự kiện nhấp chuột */
            opacity: 0.5;
            /* Giảm độ sáng để hiển thị rằng nó bị tắt */
        }
    </style>
</head>

<body>
<div id="main">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header d-flex">
            <div class="col-md-9">
                <h3 class="m-0 font-weight-bold text-primary">Danh sách tài khoản</h3>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="addUser">Thêm tài khoản</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Avatar</th>
                        <th>Giới tính</th>
                        <th>Vai trò</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody id="userTableBody">
                    <tr style="display: none">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="card-footer">
            <div class="total-revenue" style="text-align: left;">
                <p>
                    <strong>Tổng người dùng: <span id="totalUser"></span></strong>
                </p>
            </div>
        </div>
    </div>

    <!-- Form add user-->
    <div id="addUserPanel" class="hidden">
        <div class="panel-content">
            <span id="closePanelBtn">&times;</span>
            <div class="form-title create">Thêm Người Dùng</div>
            <div class="form-title update">Cập Nhật Người Dùng</div>
            <div class="d-flex justify-content-center">
                <div class="col-lg-12">
                    <form role="form" method="post" id="form_create_user" enctype="multipart/form-data">
                        <div class="panel-body row">
                            <div class="col-md-6">

                                <label for="fullname" class="col-md-4">Họ và tên: </label>
                                <input type="text" name="lastName" id="fullname" placeholder="Họ và tên"
                                       class="col-md-6" style="width: 100%; height: auto;">
                                <br><br>
                                <label for="email" class="col-md-4">Email: </label>
                                <input type="text" name="email" id="email" style="width: 100%;"
                                       placeholder="Email của bạn" class="col-md-6">
                                <div class="row">
                                    <p class="col-md-3"></p>
                                    <p class="text-danger col-md-9" id="textEmail"></p>
                                </div>

                                <label for="password" class="col-md-4">Mật khẩu: </label>
                                <input type="password" name="password" id="password" placeholder="Mật khẩu"
                                       style="width: 100%;" class="col-md-6">
                                <div class="row">
                                    <p class="col-md-3"></p>
                                    <p class="text-danger col-md-9" id="textPassword"></p>
                                </div>


                                <label for="img" class="col-md-4">Chọn hình: </label>
                                <input type="file" name="image" id="img" style="width: 100%;" class="col-md-6">

                                <div class="images ms-5" id="chon-anh" style="border: none">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="address" class="col-md-4">Địa chỉ: </label>
                                <input type="text" name="address" id="address" style="width: 100%;"
                                       placeholder="Địa chỉ của bạn" class="col-md-6">
                                <br><br>

                                <label for="phone" class="col-md-4">Số điện thoại: </label>
                                <input type="number" name="phone" id="phone" placeholder="Số điện thoại"
                                       style="width: 100%;" class="col-md-6" min="0">
                                <br><br>

                                <label class="col-md-4">Ngày sinh</label>
                                <input type="date" name="birthday" id="birthday" style="width: 100%;"
                                       class="col-md-6">
                                <br><br>


                                <label class="col-md-4">Vai trò</label>
                                <select class="col-md-6" id="roles" name="roles" disabled>
                                    <option value="STAFF" selected>Nhân viên</option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="CUSTOMER">Khách hàng</option>
                                </select>
                                <!--                                <input type="hidden" name="roles" value="NHÂN VIÊN">-->

                                <br><br>

                                <div class="row">
                                    <label class="col-md-6">Giới tính: </label>
                                    <div class="col-md-4">
                                        <input type="radio" name="gender" id="male" value="true" checked>
                                        <label for="male">Nam</label>
                                        <input type="radio" name="gender" id="female" value="false">
                                        <label for="female">Nữ</label> <br>
                                    </div>
                                </div>

                            </div>


                            <!--                                            </div>-->
                        </div>
                        <!--                        <div class="panel-footer text-right">-->
                        <!--                            <button type="submit" class="btn btn-success create"  onclick="createUser()"-->
                        <!--                                    id="create">Thêm-->
                        <!--                                mới</button>-->
                        <!--                            <button type="submit" class="btn btn-success update"  onclick="updateUser()"-->
                        <!--                                    id="update">Cập-->
                        <!--                                nhật</button>-->
                        <!--                            <button type="reset" class="btn btn-danger">Reset</button>-->
                        <!--                        </div>-->
                        <div class="panel-footer text-right">
                            <button type="submit" class="btn btn-success" id="save">Lưu</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Form add user-->
    </div>
</div>

<div id="jquery">
    <script th:src="@{/js/user.js}"></script>
</div>

</body>

</html>