
#addUserPanel, #formPay {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.panel-content, .panel-content1 {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 1000px; /* Maximum width */
    text-align: center;
}

.panel-content1{
    width: 50% !important;
}

#closePanelBtn, #closePanel {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closePanelBtn:hover, #closePanel:hover,
#closePanelBtn:focus, #closePanel:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.btn-custom {
    background-color: #007bff;
    color: #fff;
}
.btn-custom:hover {
    background-color: #0056b3;
}

.images {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.ms-5{
    margin-left: 190px;
}

div p strong {
    font-size: x-large;
}